/node_modules
/public/hot
/public/storage
/storage/*.key
/storage/request
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
_ide_helper.php
.phpstorm.meta.php
public
storage/debug
storage/sqlLog
storage/lock
